<div id="content">
    <div id="section">
        <table>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Registrationoffice</th>
                <th>Deadline</th>
                <th>Author</th>
            </tr>

            <% @tournaments.each do |tournament| %>
                <tr>
                    <td><%= link_to tournament.title, tournament %></td>
                    <td><%= tournament.category %></td>
                    <td><%= tournament.startDate %></td>
                    <td><%= tournament.endDate %></td>
                    <td><%= tournament.registrationOffice %></td>
                    <td><%= tournament.deadline %></td>
                    <td><%= User.find(tournament.creator_id).username %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <div id="menue">

        <%= render 'shared/nav' %>

        <ul>
            <% if user_signed_in? %>
                <li><%= link_to 'New Tourn.', new_tournament_path %></li>
            <% end %>
            <li><%= link_to 'Back', welcome_index_path %></li>
        </ul>
    </div>
</div>
