<div id="menue_rect">
    <ul>
        <li> <%= link_to 'Tours', tours_path %> </li>
        <li> <%= link_to 'Tournaments', tournaments_path %> </li>
    </ul>
</div>

<% if user_signed_in? %>
        <div id="menue_rect">
            <ul>
                <li> <%= link_to 'Messages', messages_path %> </li>
                <li> <%= link_to 'Profile', edit_user_registration_path %> </li>
            </ul>
        </div>

        <% if current_user.has_role? :admin %>
            <div id="menue_rect">
                <ul>
                    <li> <%= link_to 'Mngmt.', admin_root_path %> </li>
                </ul>
            </div>
        <% end %>
<% end %>