<html>
	<head>
		<div id="header">
			<h3>HorseTours</h3>
			<h4><div id="user_nav">
				<% if user_signed_in? %>
    				Signed in as <%= current_user.email %>. Not you?
	    			<%= link_to "Sign out", destroy_user_session_path %>
	  			<% else %>
	    			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
	  			<% end %>
			</div></h4>
		</div>
	</head>

	<body>
		<div id="content">
			<div id="section">
				Herzlich Willkommen auf HorseTours! 
				<br>Hier können sie Ausreittouren und Turniere eintragen. 
			</div>
			<div id="menue">
				<li> <%= link_to 'Tours', tours_path %> </li>
				<li> <a href="#">Turniere</a> </li>
				<li> <a href="#">Profil</a> </li>
			</div>
		</div>
	</body>
</html>