<div id="content">
	<div id="section">
		<table>
			<tr>
				<th>Title</th>
				<th>Teaser</th>
				<th>Difficulty</th>
				<th>Author</th>
			</tr>

  		  	<% @tours.each do |tour| %>
  	 	 		<tr>
  	 	 			<td><%= link_to tour.title, tour %></td>
  	 	 			<td><%= tour.teaser %></td>
  	 	 			<td><%= tour.difficulty %></td>
  	 	 			<td><%= User.find(tour.creator_id).username %></td>
  	 	 		</tr>
 		   	<% end %>
 		   </table>
	</div>
	<div id="menue">
		<%= render 'shared/nav' %>

		<ul>
			<% if user_signed_in? %>
				<li><%= link_to 'New Tour', new_tour_path %></li>
			<% end %>
			<li><%= link_to 'Back', welcome_index_path %></li>
		</ul>
	</div>
</div>
