<div id="content">
	<div id="section">
		<ul>
			<p>Title&nbsp;&nbsp;|&nbsp;&nbsp;Teaser&nbsp;&nbsp;|&nbsp;&nbsp;Difficulty</p>
  		  	<% @tours.each do |tour| %>
  	 	 		<li>
  	 	 			<%= link_to tour.title, tour %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= tour.teaser %>
  	 	 			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= tour.difficulty %>
  	 	 		</li>
 		   	<% end %>
		</ul>
	</div>
	<div id="menue">
		<ul>
			<li><%= link_to 'New Tour', new_tour_path %></li>
			<li><%= link_to 'Back', welcome_index_path %></li>
		</ul>
	</div>
</div>
