<div id="content">
	<div id="section">
		<table>
			<tr>
				<th>Title</th>
				<th>Teaser</th>
				<th>Difficulty</th>
			</tr>

  		  	<% @tours.each do |tour| %>
  	 	 		<tr>
  	 	 			<td><%= link_to tour.title, tour %></td>
  	 	 			<td><%= tour.teaser %></td>
  	 	 			<td><%= tour.difficulty %></td>
  	 	 		</tr>
 		   	<% end %>

 		   </table>


	</div>
	<div id="menue">
		<ul>
			<% if can? :Create, Tour %>
				<li><%= link_to 'New Tour', new_tour_path %></li>
			<% end %>
			<li><%= link_to 'Back', welcome_index_path %></li>
		</ul>
	</div>
</div>
