<div id="section">
  <p id="notice"><%= notice %></p>

  <p>
    <h1>
      <b>Title:</b>
      <%= @tour.title %>
    </h1>
  </p>

  <p>
    <b>Teaser:</b>
    <%= @tour.teaser %>
  </p>

  <p>
    <b>Difficulty:</b>
    <%= @tour.difficulty %>
  </p>

  <p>
    <b>Days:</b>
    <%= @tour.days %>
  </p>

  <p>
    <b>Hours:</b>
    <%= @tour.hours %>
  </p>

  <p>
    <b>Minutes:</b>
    <%= @tour.minutes %>
  </p>

  <p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= iframe_url(@tour)%>"></iframe>
  </p>

  <p>
    <b>Description:</b>
    <%= simple_format @tour.description %>
  </p>
</div>

<div id="menue">
  <ul>
    <% if user_signed_in? %>
        <li><%= link_to 'Edit', edit_tour_path(@tour) %></li>

        <li><%= link_to 'Destroy', @tour, :confirm => 'Are you sure?', :method => :delete %></li>

    <% end %>
    <li><%= link_to 'Back', tours_path %></li>
  </ul>
</div>