<div id="section">
  <p id="notice"><%= notice %></p>

  <p>
    <h1>
      <b>Title:</b>
      <%= @tour.title %>
    </h1>
  </p>

  <p>
    <b>Teaser:</b>
    <%= @tour.teaser %>
  </p>

  <p>
    <b>Difficulty:</b>
    <%= @tour.difficulty %>
  </p>

  <p>
    <b>Days:</b>
    <%= @tour.days %>
  </p>

  <p>
    <b>Hours:</b>
    <%= @tour.hours %>
  </p>

  <p>
    <b>Minutes:</b>
    <%= @tour.minutes %>
  </p>

  <p>
    <b>Description:</b>
    <%= simple_format @tour.description %>
  </p>

  <p>
    <b>Tour:</b> <br>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= iframe_url(@tour)%>"></iframe>
  </p>

  <p>
    <div id="commentSection">
      <div id="showComment">
        <b>Comments:</b> <br>
        <table>

          <% @tour.tourComments.each do |comment| %>

            <tr>
              <td>
                <i id="author"><%= User.find(comment.user_id).username + " schrieb:" %></i> <br>
                  <%= comment.comment %>
              </td>
            </tr>

          <% end %>

        </table>
      </div>

      <br>

      <% if user_signed_in? %>
        <div id="addComment">
          <table>
            <%= form_tag tours_addComment_path do %>
              <%= text_area_tag :comment, params[:comment] %>
              <%= submit_tag "Kommentieren" %>
              <%= hidden_field_tag :tour_id, params[:tour_id], :value => @tour.id %>
            <% end %>
          </table>
        </div>
      <% else %>
        <%= 'You must be signed in to comment.' %>
      <% end %>
    </div>
  </p>
</div>

<div id="menue">
  <%= render 'shared/nav' %>
  
  <ul>
    <% if user_signed_in? %>
      <% if (current_user.has_role? :admin) or (current_user.id == @tour.creator_id) %>
        <li><%= link_to 'Edit', edit_tour_path(@tour) %></li>
        <li><%= link_to 'Destroy', @tour, :confirm => 'Are you sure?', :method => :delete %></li>
      <% end %>
    <% end %>
    <li><%= link_to 'Back', tours_path %></li>
  </ul>
</div>